/* .relics-group{
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
} */
/* 
.checkbox-item {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.checkbox-item label{
    margin-right: 10px;
}

.relics-group{
    display: flex;
    flex-wrap: wrap;
}

.checkbox-item{
    flex: 1 0 auto;
    margin: 5px;
}

.checkbox-item button{
    padding: 5px;
    margin: 5px;
}

th.map{
    border-bottom: 2px solid #000;
}

tr.last-row {
    border-bottom: 2px solid #000;
}

html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235,235,235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

caption {
    padding: 10px;
}